<a href="https://colab.research.google.com/github/stmlufe/exercises/blob/master/L_30_Loops_Stella.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### For loops fora da função

1. Liste o quadrado de todos os números, de 1 a 10, inclusive.  
Eu vou dificultar isso um pouquinho: cuidado para não incluir o zero e não parar no 81.

In [ ]:
#Resposta
def quadrado(i):
    return(i**2)
    
for i in range(1,11):

      print(quadrado(i))

1
4
9
16
25
36
49
64
81
100

2. Liste o quadrado de todos os números entre 1 a 10, saltando de 3 em 3

In [ ]:
#Resposta

for i in range(1,11,3): 

      print(quadrado(i))

1
16
49
100

3. A função a seguir dá o n-ésimo termo da série de Fibonacci. Use ela para listar os 10 primeiros termos da série de Fibonacci.

In [ ]:
def fib(n):
    if (n == 0) | (n == 1):
        return(1)
    else:
        return(fib(n-1) + fib(n-2))

In [ ]:
#Resposta
for n in range(10):
  print(fib(n))

1
1
2
3
5
8
13
21
34
55

### For loops dentro da função

1. Faça uma função que some os $n$ primeiros números ímpares. 

Note que essa função é diferente da que vimos em aula, onde somávamos todos os ímpares até $n$. 

Aqui, queremos uma função que, ao receber $n = 3$, some 1, 3 e 5, que são os 3 primeiros ímpares, e retorne 1 + 3 + 5 = 9.

Dica: o n-ésimo número ímpar (começando a contar do zero) é $2n+1$

In [ ]:
#Resposta
def soma_impares(i):
    soma = 0
    for i in range(1, 2*i+1, 2): #so galera ímpar!
        soma = soma + i # outra forma de escrever seria "soma+=i"
    return(soma)

In [ ]:
soma_impares(5)

25

O código abaixo lista o resultado da função acima para todos os valores de $n$, de 1 a 10, inclusive. Compare com a sua resposta para a primeira pergunta dessa lista, onde você listou o quadrado de todos os números de 1 a 10. Parece familiar?

In [ ]:
for i in range(1,11):
    print(soma_impares(i))

1
4
9
16
25
36
49
64
81
100

## Números primos

Um número é primo caso ele não seja divisível por nenhum outro número menor que ele, exceto 1. 

Assim, 2, 3, 5, e 11 são primos.  
8, 9 e 21 não são. 

Faça uma função para verificar se um número $n$ qualquer é primo.
Sua função deve se chamar `primo` e retornar um booleano (True ou False)

Para te ajudar, você pode usar a função abaixo, que verifica se um número é divisível por outro:

In [ ]:
def divisivel(a,b):
    return(a % b == 0)

In [ ]:
divisivel(10,5)

True

In [ ]:
#Resposta

def primo(n):
  for i in range (2,n):
    if divisivel(n,i):
      return False

  return True

In [ ]:
primo(45)

False

## Raiz quadrada pelo método babilônico

Os babilônicos calculavam a raiz quadrada de um número assim...

Digamos que a gente queira calcular a raiz de 50 e não saiba quanto é.
A gente chuta: é 10!
Bom, 50 dividido por 10 é uns 5.
Então a raiz deve estar entre 10 e 5. Vamos na média: 7.5
Esse é nosso novo chute, com o qual a gente repete o processo...

Em suma, para calcular  raiz de um número $Q$:

1. Chuta um valor $x$ ("x" de "chute")
2. Divide $Q$ por $x$. Chama esse valor de $y$
3. Tira a média entre $x$ e $y$. Esse vira o novo valor de $x$.
4. Volta ao passo 2 e repete

Quando é que a gente pára de repetir?
Quando a diferença entre $x$ e $y$ fica pequena o suficiente para ser desprezada. Isso significa ser menor do que um valor pequeno, chamado tolerância.

Faça uma função que calcule a raiz quadrada de um número $Q$ usando o método babilônico. Essa função deve receber 3 parâmetros:
1. O número $Q$, cuja raiz quadrada queremos calcular
2. O chute inicial, $x$. Por default, esse valor deve ser igual a 1.
3. A tolerância, `tol`. Por default, esse valor deve ser igual a 0.01.

A função deve se chamar `bsqrt`

In [ ]:
#Resposta

def bsqrt (q, x = 1, tol = 0.01):
  y = 0
  while abs(x-y) > tol:
    y = q/x
    media = (x+y)/2
    x = media

  return x

In [ ]:
bsqrt (50)

7.071067984011346